.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0 26px 0;
  border-bottom: 1px solid #E4E4E4;

  &__logo {
    &_text {
      font-family: 'SF Pro Text', sans-serif;
      font-size: 22px;
      line-height: 133%;
      letter-spacing: 0.14em;
      color: var(--dark-gray);
      text-shadow: 0 4px 4px #00000025;
      @media screen and (max-width: 1023px) {
        font-size: 18px;
      }
      @media screen and (max-width: 479px) {
        font-size: 16px;
      }
    }
  }

  &__nav {
    &_items {
      cursor: pointer;
      text-shadow: 0 4px 10px #0000000D;
    }
  }
}