.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;

  &__nav_items {
    &:hover {
      color: var(--light-yellow);
    }
    font-family: var(--font-google-sans), sans-serif;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
    color: var(--dark-blue);
    @media screen and (max-width: 1023px) {
      font-size: 15px;
    }
    @media screen and (max-width: 479px) {
      font-size: 13px;
    }
  }

  &__signUp_button {
    transition: scale 0.3s ease-in-out;

    &:hover {
      scale: 1.06;
    }
    box-shadow: 0 -3px 18px 0 rgba(0, 0, 0, 0.12);

    font-family: var(--font-google-sans), sans-serif;
    color: var(--dark-blue);
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    padding: 9px 21px;
    border: 1px solid var(--dark-blue);
    @media screen and (max-width: 1023px) {
      font-size: 15px;
    }
    @media screen and (max-width: 479px) {
      font-size: 13px;
    }
  }
}