.trips {
  &__card {
    background: white;
    position: relative;
    padding: 20px 24px 31px;
    border-radius: 26px;
    box-shadow: 0 1.85px 3.15px rgba(0, 0, 0, 0.0048),
    0 8.15px 6.52px rgba(0, 0, 0, 0.0079),
    0 20px 13px rgba(0, 0, 0, 0.01),
    0 38.52px 25.48px rgba(0, 0, 0, 0.0121),
    0 64.81px 46.85px rgba(0, 0, 0, 0.0152),
    0 100px 80px rgba(0, 0, 0, 0.02);
  }

  &__card_gradient {
    position: absolute;
    top: -65px;
    right: -40px;
    z-index: -1;
    height: 367px;
    width: 354px;
    border-radius: 50%;
    background-color: rgba(89, 177, 230, 1);
    opacity: 0.4;
    filter: blur(150px);
  }

  &__steps_text {
    line-height: 125%;
    font-size: 16px;
    letter-spacing: 0;
    color: var(--light-blue);
    @media screen and (max-width: 1023px) {
      font-size: 14px;
    }
    @media screen and (max-width: 479px) {
      font-size: 12px;
    }
  }

  &__card_progress {
    position: absolute;
    right: -30%;
    bottom: 55px;
    display: flex;
    gap: 12px;
    background: #fff;
    border-radius: 18px;
    padding: 18px 25px 22px 20px;
    box-shadow: 0 1.85px 3.15px rgba(0, 0, 0, 0.0048),
    0 8.15px 6.52px rgba(0, 0, 0, 0.0079),
    0 20px 13px rgba(0, 0, 0, 0.01),
    0 38.52px 25.48px rgba(0, 0, 0, 0.0121),
    0 64.81px 46.85px rgba(0, 0, 0, 0.0152),
    0 100px 80px rgba(0, 0, 0, 0.02);
  }
}

