.circle {
  &__gradient {
    position: absolute;
    z-index: -2;
    top: -16%;
    right: -10%;
    height: 256px;
    border-radius: 50%;
    filter: blur(5px);
    width: 256px;
    background: linear-gradient(
            180deg,
            rgba(173, 228, 255, 0.17) 0%,
            rgba(255, 215, 239, 0.17) 53%,
            rgba(255, 215, 239, 0.17) 95%
    );
    @media screen and (max-width: 1439px) {
      right: 0;
    }
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
}