@import "tailwindcss";
@import 'tailwindcss/utilities';

:root {
  --light-orange: #DF6951FF;
  --light-yellow: #F1A501FF;
  --dark-blue: #212832FF;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply mx-auto w-full max-w-[1160px] px-[15px] max-mobile:px-[20px]!;
  }
  
  .text-base-regular {
    @apply text-[16px] max-tablet:text-[14px] max-mobile:text-[12px] leading-none font-normal tracking-normal;
  }
  
  .text-big-regular {
    @apply text-[18px] max-tablet:text-[16px] max-mobile:text-[14px] font-normal leading-none tracking-normal;
  }
  
  .text-big-semibold {
    @apply text-[18px] max-tablet:text-[16px] max-mobile:text-[14px] font-semibold leading-none tracking-normal;
  }
  
  .text-heading-bold {
    @apply text-[50px] max-tablet:text-[35px] max-mobile:text-[28px] font-bold leading-none tracking-normal;
  }
}

@theme {
  --breakpoint-mobile: 479px;
  --breakpoint-laptop: 1439px;
  --breakpoint-tablet: 1023px;
  --breakpoint-mini-tablet: 769px;
  --color-light-orange: var(--light-orange);
  --color-light-yellow: var(--light-yellow);
  --color-dark-blue: var(--dark-blue);
  --font-google-sans: var(--font-google-sans), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
  --font-volkhov: var(--font-volkhov), serif;
  --font-open-sans: var(--font-open-sans), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;
}

body {
  font-family: var(--font-poppins), sans-serif;
  padding-right: 0 !important;
  overflow: auto !important;
  
  background-image: url('/icons/background.svg');
  background-repeat: no-repeat;
  background-position: right;
  @media screen and (max-width: 1023px) {
    background-image: none;
  }
}


