.hero {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  &__sub_title {
    font-family: "SF Pro Display", sans-serif;
    font-size: 20px;
    line-height: 133%;
    letter-spacing: 0.3em;
    color: var(--light-green);
    text-shadow: 0 4px 11px #0000000D;
    @media screen and (max-width: 1023px) {
      font-size: 18px;
    }
    @media screen and (max-width: 479px) {
      font-size: 16px;
    }
  }

  &__text {
    width: 100%;
    max-width: 512px;
    line-height: 133%;
    position: relative;
    padding-left: 11px;
    color: rgba(0, 0, 0, 0.66);
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      border-radius: 8px;
      width: 5px;
      height: 100%;
      background-color: var(--light-green);
    }
    @media screen and (max-width: 1023px) {
      max-width: 100%;
    }
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 30px;
    border-radius: 28px;
    background-color: var(--light-green);
    padding: 13.5px 14px 13.5px 13px;
    color: white;
  }

  &__trusted_text {
    margin-top: 13px;
    text-align: center;
    color: #667085;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    @media screen and (max-width: 479px) {
      font-size: 14px;
    }
  }
}