.nav {
  &__mobile {
    display: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 1023px) {
      position: fixed;
      display: flex;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 60;
      width: 100%;
      min-height: 100vh;
      min-height: -webkit-fill-available;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      overflow: auto;
      background-color: #fff;
      padding: 14px 0;
    }
  }
}